.cards-album {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  padding: 16px;
  text-align: center;
  width: 200px;
}

.img-card {
  border-radius: 8px;
  height: 150px;
  width: 150px;
}
