.container-music {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.player {
  align-items: center;
  display: flex;
  gap: 90px;
}

.label-favorites {
  align-items: center;
  color: #58bb9a;
  display: flex;
  gap: 8px;
}